@import '../../scss/vars';

.hammer-img {
  animation-name: hammer-hit;
  animation-duration: 1.5s;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in-out;
}

#under-construction h1 {
  font-size: 3em;
}

@media (min-width: 1024px) {
  .traffic-cone {
    width: 10vw;
  }
}

@keyframes hammer-hit {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(-140deg);
  }
}
