// colors
$teal: #5bc6b2;
$copper: #c6705b;
$white: #ffffff;
$space-gray: #2b3541;

// fonts
$main-font: 'Do Hyeon', sans-serif;
$header-font: 'Concert One', cursive;

// mixins
@mixin link-hover($color: $white) {
  color: $color;
  text-decoration: none;
}

@mixin flex-box($dir: row, $just: space-evenly, $align: center) {
  display: flex;
  flex-direction: $dir;
  justify-content: $just;
  align-items: $align;
}
