@import '../../scss//vars';
nav {
  width: 100%;
  position: fixed;
  top: 0;
  background: $space-gray;
  z-index: 1;
}

.nav-text {
  font-size: 1.7rem;
  color: $white;
  text-align: center;
  font-family: $header-font;
}

.nav-button {
  width: 90px;
  height: 40px;
  margin-right: 3vw;
  background-color: #000000;
  border: 1px solid $white;
  color: $white;
  font-size: 1rem;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 5px;
  text-transform: uppercase;
}

.icon {
  width: 28%;
  transition: 0.5s;
}

.icon-rotate {
  transform: rotate(90deg);
}

.mobile-menu {
  width: 100%;
  position: fixed;
  top: 10vh;
  left: 0;
  background: $teal;
  transition: 0.5s;
  overflow: hidden;
  text-align: center;
}

#mobile-menu {
  @include flex-box(column, space-evenly, center);
}

.hide-menu-collapse {
  visibility: hidden;
}

#mobile-menu li {
  width: 100%;
  height: auto;
  border: 2px solid $space-gray;
}

#mobile-menu a {
  width: 100vw;
  color: $white;
  text-transform: uppercase;
  font-size: 1.2rem;
}

#mobile-menu a:hover {
  @include link-hover($white);
}

.mobile-menu-hide {
  height: 0;
}

.moblie-menu-show {
  height: 24vh;
}

.desktop-menu {
  display: none;
}

@media (min-width: 760px) {
  @media (max-width: 1000px) {
    #desktop-menu {
      width: 45vw;
    }
    #desktop-menu li a {
      font-size: 0.9rem;
    }
  }
  .nav-static {
    height: 10vh;
    transition: 0.5s;
  }

  .nav-scroll {
    height: 10vh;
    background-color: #000000;
    transition: 0.5s;
    border: 1px solid #000000;
  }
  .nav-static {
    background-color: transparent;
    height: 10vh;
  }
  .nav-button,
  .mobile-menu {
    display: none;
  }
  .nav-text {
    font-size: 2.2rem;
  }
  .desktop-menu {
    width: 40vw;
    margin-right: 5vw;
    @include flex-box(row, space-evenly, center);
  }
  .desktop-menu li a {
    color: $white;
    text-transform: uppercase;
    font-size: 1.2rem;
  }
  .desktop-menu li a:hover {
    @include link-hover($teal);
  }
}
